h1 {
  text-align: center;
}

body {
  text-align: center;
}

.button-cool {
  width: 125px;
  height: 75px;
  margin: 3;
  border: 1px solid black;
  font-size: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
